.video-list {
    display: flex;
    flex-direction: column;
}

.video-item {
    display: flex;
    border: solid 1px black;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 2px;
}

.video-thumbnail {
    background: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-bottom: solid 1px black;
}

    .video-thumbnail img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: cover;
    }

.video-info {
    margin-left: 15px;
}
