@page
@* @model VideoUploadSite.Pages.WatchVideoModel *@
@model VideoUploadSite.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/youtube-clone.css">@*css*@
    <title>VideoWeb App</title>
</head>
<body>
    <main class="main-content">
        <div class="content">
            @if (Model.Videos.Count < 1)//om det finns mindre än 1 video så visas detta meddelande
            {
                <h3>There are no videos uploaded, head to the video upload and make some!</h3>
            }
            else
            {
                <div class="video-grid">
                    @foreach (var video in Model.Videos)//videos hämtas i watchvideo codebehind, displayas här, länkar till watchvideo med id av videon man klickade på
                    {
                        @if (!string.IsNullOrEmpty(video.ThumbnailUrl))
                        {
                            <div class="grid-item">
                                <a href="/WatchVideo/@video.Id">
                                    <div class="video-item">
                                        <img src="@video.ThumbnailUrl" alt="Thumbnail">
                                    </div>
                                    <div class="video-info">
                                        <p class="title">@video.VideoTitle</p>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            }
        </div>
    </main>
</body>
</html>
